.section {
    margin: 15px 0;
    background: white;
    box-shadow: 0 0 5px #8f8f8f
}

.section__header {
    padding: 20px;
    margin:0;
    border-bottom: 2px solid #8f8f8f;
}

.section__title{
    font-size: 20px;
}

.section__body {
    padding: 20px;
}